* {
  font-family: 'Abel', sans-serif;
}
html, body {
  height: 100%;
}
h1 {
  text-align: center;
}
.complete {
  background-color: green;
}
li{
  display: inline;
}
ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
div {
  margin-top:10px;
  margin-bottom: 10px;
}
.close {
  margin-left: 10px;
  display: inline;
  visibility: hidden;
}
.task:hover .close{
    visibility: visible;
}
.filters {
  width: 100%;
  display: inline-block;
}
.filters li {
  margin: 5px;
  padding: 5px;
}
#todoApp {
  width: auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
