* {
  font-family: 'Abel', sans-serif;
}
html, body {
  height: 100%;
  background-color: #edeeee;
}
h1 {
  text-align: center;
  font-size: 80px;
  margin: 5px;
}
.complete {
  border-radius: 4px;
  background-color: rgb(58, 197, 105);
}
.complete > a {
  color: white;
}
li{
  display: inline;
}
ul {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
div {
  margin-top:10px;
  margin-bottom: 10px;
}
.close {
  margin-left: 10px;
  display: inline;
  visibility: hidden;
}
.task:hover .close{
    visibility: visible;
}
.close:hover {
  color: red;
  cursor:pointer;
}
.task {
  font-size: 22px;
  cursor:pointer;
}

.filters {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.filters li {
  margin: 5px;
  padding: 5px;
}
#todoApp {
  width: auto;

}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-task {
  height: auto;
  font-size: 32px;
  outline: none;
  border: none;
  border-bottom: solid 2px;
  background-color: #edeeee;
}
#clear-btn {
  border: none;
  border-radius: 4px;
  background-color: #2b90d9;
  color: white;
  outline: none;
  font-size: 20px;
  transition: all 60ms ease-in-out;
  cursor: pointer;
}
#clear-btn:hover {
  transition: all 60ms ease;
  background-color: rgba(43,144,217, .85);
}
a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
